# Logs
*.log

# Coverage and tap working directory
coverage
.tap

# Output of 'npm pack'
*.tgz

# Dependency directories
node_modules/*

# bundleDependencies
!node_modules/fs-extra/*
!node_modules/gunzip-maybe/*
!node_modules/node-gyp/*
!node_modules/npm-package-arg/*
!node_modules/npm-path/*
!node_modules/promise-each/*
!node_modules/request/*
!node_modules/semver/*
!node_modules/tar-fs/*
!node_modules/tar-stream/*
!node_modules/update-notifier/*
!node_modules/which/*
!node_modules/yargs/*

# Python cache (from bundled node-gyp)
__pycache__

# Claude Code
CLAUDE.md
